/* Baseline styling */
.radio-card__row {
    --radio-card-gap: var(--spacing-small, 8px);

    display: flex;
    flex-wrap: wrap;
    gap: var(--radio-card-gap) 0;
    margin-right: calc((var(--radio-card-gap) / 2) * -1);
    margin-left: calc((var(--radio-card-gap) / 2) * -1);
}

.radio-card__col {
    padding-left: calc(var(--radio-card-gap) / 2) !important;
    padding-right: calc(var(--radio-card-gap) / 2) !important;
}

.radio-card__item {
    --radio-card-item-gap: var(--spacing-small, 8px);
    --radio-card-item-padding: var(--spacing-medium, 16px);

    display: flex;
    align-items: center;
    gap: var(--radio-card-item-gap);
    padding: var(--radio-card-item-padding);
    cursor: pointer;
    border: 1px solid var(--form-input-border-color, #d5d5d5);
    border-radius: var(--border-radius-default, 4px);
    background: var(--bg-color-secondary, #fff);
    font-weight: unset;
    margin: unset;
}

.radio-card__item--left,
.radio-card__item--right {
    flex-direction: row;
}

.radio-card__item--above,
.radio-card__item--below {
    flex-direction: column;
}

.radio-card__item.radio-card__item--align-start {
    align-items: flex-start;
}

.radio-card__item.radio-card__item--align-center {
    align-items: center;
}

.radio-card__item.radio-card__item--align-end {
    align-items: flex-end;
}

.radio-card__input {}

.radio-card__content {
    flex: 1;
    width: 100%;
}

/* Customising display */
/* Full size container */
.radio-card-fill {
    width: 100%;
}

/* Highlighted hover styling */
.radio-card-hover>.radio-card__row>.radio-card__col>.radio-card__item:hover,
.radio-card-hover>.radio-card__row>.radio-card__col>.radio-card__item:focus {
    background-color: var(--form-input-bg-hover);
}

/* Highlighted selected styling */
.radio-card-highlight>.radio-card__row>.radio-card__col>.radio-card__item-selected,
.radio-card-highlight>.radio-card__row>.radio-card__col>.radio-card__item-selected:hover,
.radio-card-highlight>.radio-card__row>.radio-card__col>.radio-card__item-selected:focus {
    background-color: var(--color-primary-light);
    border-color: var(--brand-primary);
}


/* Hide radio input */
.radio-card-hideinput>.radio-card__row>.radio-card__col>.radio-card__item>.radio-card__input {
    display: none;
}

/* SM card */
.radio-card-sm>.radio-card__row>.radio-card__col>.radio-card__item {
    --radio-card-item-gap: var(--spacing-small, 8px);
    --radio-card-item-padding: var(--spacing-small, 8px);
}

/* LG card */
.radio-card-lg>.radio-card__row>.radio-card__col>.radio-card__item {
    --radio-card-item-gap: var(--spacing-large, 24px);
    --radio-card-item-padding: var(--spacing-large, 24px);
}